*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  background-color:#ffff00;
  text-transform: uppercase;
}

header {
  background-color: #00ff00;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

li {
  margin-right: 40px;
  font-size: 20px;
  font-weight: bold;
}

li:hover {
  background-color: #000;
  color: #fff;
}

.header__logo-img {
  margin-left: 40px;
}

.video {
  justify-content: center;
}